In [1]:
import pandas as pd
import geopandas as gpd
from shapely.ops import unary_union

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# PAM - Produção Agrícola Municipal

## Café

### Área x UF

In [3]:
pam_cafe = pd.read_csv('../data/pam/output/cafe/pam_cafe.csv')

In [4]:
geodata_uf = gpd.read_file('../data/gis-dataset-brasil/uf/shapefile/uf.shp')

In [5]:
geodata_uf.head()

,UF_05,MICRO,MESO,REGIAO,NOME_UF,GEOCODIGO,geometry
0,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134..."
1,AL,ALAGOANA DO SERTAO DO SAO FRANCISCO,AGRESTE ALAGOANO,Nordeste,Alagoas,27,"POLYGON ((-38.23724 -9.32937, -38.20273 -9.296..."
2,AM,ALTO SOLIMOES,CENTRO AMAZONENSE,Norte,Amazonas,13,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102..."
3,AP,AMAPA,NORTE DO AMAPA,Norte,Amapá,16,"POLYGON ((-54.87178 2.43408, -54.79692 2.43935..."
4,BA,ALAGOINHAS,CENTRO NORTE BAIANO,Nordeste,Bahia,29,"POLYGON ((-46.60921 -11.25550, -46.58164 -11.2..."

In [6]:
pam_cafe.head()

,CODIGO_UF,UF,CODIGO_MUNICIPIO,MUNICIPIO,ANO,MOEDA_VIGENTE,AREA_PLANTADA,AREA_PLANTADA_PERC,AREA_COLHIDA,AREA_COLHIDA_PERC,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO,VALOR_PRODUCAO_PERC
0,11,Rondônia,1100015,Alta Floresta D'Oeste,1974,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,Rondônia,1100015,Alta Floresta D'Oeste,1975,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Rondônia,1100015,Alta Floresta D'Oeste,1976,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Rondônia,1100015,Alta Floresta D'Oeste,1977,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,Rondônia,1100015,Alta Floresta D'Oeste,1978,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pam_cafe_uf = pam_cafe.groupby(['UF', 'ANO']).aggregate(sum).reset_index()[['UF', 'ANO', 'AREA_PLANTADA', 'QUANTIDADE_PRODUZIDA', 'RENDIMENTO_MED_PRODUCAO', 'VALOR_PRODUCAO']]
pam_cafe_uf = pam_cafe_uf[pam_cafe_uf['ANO'] >= 1990]
pam_cafe_uf.rename(columns={'UF':'NOME_UF'}, inplace=True)
pam_cafe_geo_uf = geodata_uf.merge(pam_cafe_uf, on='NOME_UF')

/tmp/ipykernel_15205/4188203090.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pam_cafe_uf = pam_cafe.groupby(['UF', 'ANO']).aggregate(sum).reset_index()[['UF', 'ANO', 'AREA_PLANTADA', 'QUANTIDADE_PRODUZIDA', 'RENDIMENTO_MED_PRODUCAO', 'VALOR_PRODUCAO']]

In [8]:
pam_cafe_geo_uf

,UF_05,MICRO,MESO,REGIAO,NOME_UF,GEOCODIGO,geometry,ANO,AREA_PLANTADA,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO
0,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1990,965.0,959.0,9626.0,20651.0
1,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1991,904.0,808.0,8925.0,66988.0
2,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1992,845.0,780.0,8721.0,1289839.0
3,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1993,861.0,823.0,14350.0,45601.0
4,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1994,841.0,792.0,14521.0,445.0
...,...,...,...,...,...,...,...,...,...,...,...,...
801,TO,ARAGUAINA,OCIDENTAL DO TOCANTINS,Norte,Tocantins,17,"POLYGON ((-50.69824 -11.31014, -50.69636 -11.3...",2016,0.0,0.0,0.0,0.0
802,TO,ARAGUAINA,OCIDENTAL DO TOCANTINS,Norte,Tocantins,17,"POLYGON ((-50.69824 -11.31014, -50.69636 -11.3...",2017,0.0,0.0,0.0,0.0
803,TO,ARAGUAINA,OCIDENTAL DO TOCANTINS,Norte,Tocantins,17,"POLYGON ((-50.69824 -11.31014, -50.69636 -11.3...",2018,0.0,0.0,0.0,0.0
804,TO,ARAGUAINA,OCIDENTAL DO TOCANTINS,Norte,Tocantins,17,"POLYGON ((-50.69824 -11.31014, -50.69636 -11.3...",2019,0.0,0.0,0.0,0.0
805,TO,ARAGUAINA,OCIDENTAL DO TOCANTINS,Norte,Tocantins,17,"POLYGON ((-50.69824 -11.31014, -50.69636 -11.3...",2020,0.0,0.0,0.0,0.0

In [9]:
pam_cafe_geo_uf.to_file("../data/pam/output/cafe/pam_cafe_geo_uf.geojson", driver='GeoJSON')

### Área x Município

In [10]:
geodata_mun = gpd.read_file('../data/gis-dataset-brasil/municipio/shapefile/Munic.shp')

In [11]:
pam_cafe.head()

,CODIGO_UF,UF,CODIGO_MUNICIPIO,MUNICIPIO,ANO,MOEDA_VIGENTE,AREA_PLANTADA,AREA_PLANTADA_PERC,AREA_COLHIDA,AREA_COLHIDA_PERC,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO,VALOR_PRODUCAO_PERC
0,11,Rondônia,1100015,Alta Floresta D'Oeste,1974,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,Rondônia,1100015,Alta Floresta D'Oeste,1975,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Rondônia,1100015,Alta Floresta D'Oeste,1976,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Rondônia,1100015,Alta Floresta D'Oeste,1977,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,Rondônia,1100015,Alta Floresta D'Oeste,1978,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
geodata_mun.head()

,GEOCODIGO,NOME,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134..."
1,1300201,Atalaia do Norte,AM,13,Norte,SUDOESTE AMAZONENSE,ALTO SOLIMOES,-4.372,-70.192,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102..."
2,1301654,Guajará,AM,13,Norte,SUDOESTE AMAZONENSE,JURUA,-7.546,-72.584,"POLYGON ((-73.73762 -7.13432, -73.70822 -7.040..."
3,1200427,Rodrigues Alves,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.742,-72.647,"POLYGON ((-73.69158 -7.76778, -73.67485 -7.740..."
4,1200203,Cruzeiro do Sul,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.631,-72.67,"POLYGON ((-73.62958 -8.05086, -73.42396 -8.032..."

In [13]:
pam_cafe.rename(columns={'MUNICIPIO':'NOME', 'CODIGO_MUNICIPIO':'GEOCODIGO'}, inplace=True)
pam_cafe_geo_mun = geodata_mun.merge(pam_cafe, on='GEOCODIGO')
pam_cafe_geo_mun = pam_cafe_geo_mun.drop(['UF_y', 'NOME_y', 'CODIGO_UF'], axis=1).rename(columns={'NOME_x':'MUNICIPIO', 'UF_x':'UF'})

In [14]:
pam_cafe_geo_mun.head()

,GEOCODIGO,MUNICIPIO,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry,ANO,MOEDA_VIGENTE,AREA_PLANTADA,AREA_PLANTADA_PERC,AREA_COLHIDA,AREA_COLHIDA_PERC,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO,VALOR_PRODUCAO_PERC
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1974,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1975,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1976,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1977,Mil Cruzeiros,NaN,NaN,8.0,0.68,4.0,500.0,60.0,0.58
4,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1978,Mil Cruzeiros,NaN,NaN,9.0,0.75,4.0,444.0,68.0,0.91

In [15]:
ufs = pam_cafe_geo_mun['UF'].unique().tolist()

In [ ]:
for uf in ufs:
    df = pam_cafe_geo_mun[pam_cafe_geo_mun['UF'] == uf]
    df.to_file(f"../data/pam/output/cafe/pam_geo_ufs/pam_cafe_geo_{uf}.geojson", driver='GeoJSON')

### Área x Município - Diferença 1990-2020

In [31]:
pam_cafe_diff = pd.read_csv('../data/pam/output/cafe/pam_cafe_diff.csv')

In [38]:
pam_cafe_diff.head()

   CODIGO_UF        UF  GEOCODIGO                   NOME  AREA_1990  AREA_2020
0         11  Rondônia    1100015  Alta Floresta D'Oeste      11.85      54.99
1         11  Rondônia    1100023              Ariquemes      41.65       2.25
2         11  Rondônia    1100031                 Cabixi       2.99       0.06
3         11  Rondônia    1100049                 Cacoal      45.58      63.44
4         11  Rondônia    1100056             Cerejeiras       5.82       0.06

In [33]:
geodata_mun.head()

,GEOCODIGO,NOME,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134..."
1,1300201,Atalaia do Norte,AM,13,Norte,SUDOESTE AMAZONENSE,ALTO SOLIMOES,-4.372,-70.192,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102..."
2,1301654,Guajará,AM,13,Norte,SUDOESTE AMAZONENSE,JURUA,-7.546,-72.584,"POLYGON ((-73.73762 -7.13432, -73.70822 -7.040..."
3,1200427,Rodrigues Alves,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.742,-72.647,"POLYGON ((-73.69158 -7.76778, -73.67485 -7.740..."
4,1200203,Cruzeiro do Sul,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.631,-72.67,"POLYGON ((-73.62958 -8.05086, -73.42396 -8.032..."

In [34]:
pam_cafe_diff.rename(columns={'MUNICIPIO':'NOME', 'CODIGO_MUNICIPIO':'GEOCODIGO'}, inplace=True)
pam_cafe_diff_geo_mun = geodata_mun.merge(pam_cafe_diff, on='GEOCODIGO')
pam_cafe_diff_geo_mun = pam_cafe_diff_geo_mun.drop(['UF_y', 'NOME_y', 'CODIGO_UF'], axis=1).rename(columns={'NOME_x':'MUNICIPIO', 'UF_x':'UF'})

In [35]:
pam_cafe_diff_geo_mun.head()

,GEOCODIGO,MUNICIPIO,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry,AREA_1990,AREA_2020
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",0.22,NaN
1,1300201,Atalaia do Norte,AM,13,Norte,SUDOESTE AMAZONENSE,ALTO SOLIMOES,-4.372,-70.192,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102...",NaN,NaN
2,1301654,Guajará,AM,13,Norte,SUDOESTE AMAZONENSE,JURUA,-7.546,-72.584,"POLYGON ((-73.73762 -7.13432, -73.70822 -7.040...",NaN,NaN
3,1200427,Rodrigues Alves,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.742,-72.647,"POLYGON ((-73.69158 -7.76778, -73.67485 -7.740...",NaN,NaN
4,1200203,Cruzeiro do Sul,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.631,-72.67,"POLYGON ((-73.62958 -8.05086, -73.42396 -8.032...",0.51,NaN

In [40]:
pam_cafe_diff_geo_sp = pam_cafe_diff_geo_mun[pam_cafe_diff_geo_mun['UF'] == 'SP']
pam_cafe_diff_geo_sp.to_file("../data/pam/output/cafe/pam_cafe_diff_geo_sp.geojson", driver='GeoJSON')

## Cana-de-Açúcar

### Área x UF

In [66]:
pam_cana = pd.read_csv('../data/pam/output/cana/pam_cana.csv')

In [67]:
geodata_uf.head()

,UF_05,MICRO,MESO,REGIAO,NOME_UF,GEOCODIGO,geometry
0,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134..."
1,AL,ALAGOANA DO SERTAO DO SAO FRANCISCO,AGRESTE ALAGOANO,Nordeste,Alagoas,27,"POLYGON ((-38.23724 -9.32937, -38.20273 -9.296..."
2,AM,ALTO SOLIMOES,CENTRO AMAZONENSE,Norte,Amazonas,13,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102..."
3,AP,AMAPA,NORTE DO AMAPA,Norte,Amapá,16,"POLYGON ((-54.87178 2.43408, -54.79692 2.43935..."
4,BA,ALAGOINHAS,CENTRO NORTE BAIANO,Nordeste,Bahia,29,"POLYGON ((-46.60921 -11.25550, -46.58164 -11.2..."

In [68]:
pam_cana.head()

,CODIGO_UF,UF,CODIGO_MUNICIPIO,MUNICIPIO,ANO,MOEDA_VIGENTE,AREA_PLANTADA,AREA_PLANTADA_PERC,AREA_COLHIDA,AREA_COLHIDA_PERC,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO,VALOR_PRODUCAO_PERC
0,11,Rondônia,1100015,Alta Floresta D'Oeste,1974,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,Rondônia,1100015,Alta Floresta D'Oeste,1975,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Rondônia,1100015,Alta Floresta D'Oeste,1976,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Rondônia,1100015,Alta Floresta D'Oeste,1977,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,Rondônia,1100015,Alta Floresta D'Oeste,1978,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
pam_cana_uf = pam_cana.groupby(['UF', 'ANO']).aggregate(sum).reset_index()[['UF', 'ANO', 'AREA_PLANTADA', 'QUANTIDADE_PRODUZIDA', 'RENDIMENTO_MED_PRODUCAO', 'VALOR_PRODUCAO']]
pam_cana_uf = pam_cana_uf[pam_cana_uf['ANO'] >= 1990]
pam_cana_uf.rename(columns={'CODIGO_UF':'GEOCODIGO', 'UF' : 'NOME_UF'}, inplace=True)
pam_cana_geo_uf = geodata_uf.merge(pam_cana_uf, on='NOME_UF')

/tmp/ipykernel_11715/668353926.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  pam_cana_uf = pam_cana.groupby(['UF', 'ANO']).aggregate(sum).reset_index()[['UF', 'ANO', 'AREA_PLANTADA', 'QUANTIDADE_PRODUZIDA', 'RENDIMENTO_MED_PRODUCAO', 'VALOR_PRODUCAO']]

In [70]:
pam_cana_geo_uf.head()

,UF_05,MICRO,MESO,REGIAO,NOME_UF,GEOCODIGO,geometry,ANO,AREA_PLANTADA,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO
0,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1990,1538.0,17275.0,270500.0,33593.0
1,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1991,654.0,15179.0,250500.0,228705.0
2,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1992,617.0,13913.0,230577.0,670749.0
3,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1993,711.0,18861.0,644050.0,44574.0
4,AC,BRASILEIA,VALE DO ACRE,Norte,Acre,12,"POLYGON ((-73.80098 -7.11146, -73.73763 -7.134...",1994,668.0,17419.0,548166.0,1552.0

In [71]:
pam_cana_geo_uf.to_file("../data/pam/output/cana/pam_cana_geo_uf.geojson", driver='GeoJSON')

### Área x Município

In [74]:
pam_cana.head()

,CODIGO_UF,UF,CODIGO_MUNICIPIO,MUNICIPIO,ANO,MOEDA_VIGENTE,AREA_PLANTADA,AREA_PLANTADA_PERC,AREA_COLHIDA,AREA_COLHIDA_PERC,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO,VALOR_PRODUCAO_PERC
0,11,Rondônia,1100015,Alta Floresta D'Oeste,1974,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11,Rondônia,1100015,Alta Floresta D'Oeste,1975,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,Rondônia,1100015,Alta Floresta D'Oeste,1976,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,Rondônia,1100015,Alta Floresta D'Oeste,1977,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,Rondônia,1100015,Alta Floresta D'Oeste,1978,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
geodata_mun.head()

,GEOCODIGO,NOME,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134..."
1,1300201,Atalaia do Norte,AM,13,Norte,SUDOESTE AMAZONENSE,ALTO SOLIMOES,-4.372,-70.192,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102..."
2,1301654,Guajará,AM,13,Norte,SUDOESTE AMAZONENSE,JURUA,-7.546,-72.584,"POLYGON ((-73.73762 -7.13432, -73.70822 -7.040..."
3,1200427,Rodrigues Alves,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.742,-72.647,"POLYGON ((-73.69158 -7.76778, -73.67485 -7.740..."
4,1200203,Cruzeiro do Sul,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.631,-72.67,"POLYGON ((-73.62958 -8.05086, -73.42396 -8.032..."

In [76]:
pam_cana.rename(columns={'MUNICIPIO':'NOME', 'CODIGO_MUNICIPIO':'GEOCODIGO'}, inplace=True)
pam_cana_geo_mun = geodata_mun.merge(pam_cana, on='GEOCODIGO')
pam_cana_geo_mun = pam_cana_geo_mun.drop(['UF_y', 'NOME_y', 'CODIGO_UF'], axis=1).rename(columns={'NOME_x':'MUNICIPIO', 'UF_x':'UF'})

In [77]:
pam_cana_geo_mun.head()

,GEOCODIGO,MUNICIPIO,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry,ANO,MOEDA_VIGENTE,AREA_PLANTADA,AREA_PLANTADA_PERC,AREA_COLHIDA,AREA_COLHIDA_PERC,QUANTIDADE_PRODUZIDA,RENDIMENTO_MED_PRODUCAO,VALOR_PRODUCAO,VALOR_PRODUCAO_PERC
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1974,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1975,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1976,Mil Cruzeiros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1977,Mil Cruzeiros,NaN,NaN,44.0,3.73,1100.0,25000.0,187.0,1.80
4,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",1978,Mil Cruzeiros,NaN,NaN,35.0,2.90,875.0,25000.0,201.0,2.68

In [79]:
pam_cana_geo_sp = pam_cana_geo_mun[pam_cana_geo_mun['UF'] == 'SP']
pam_cana_geo_sp.to_file("../data/pam/output/cana/pam_cana_geo_sp.geojson", driver='GeoJSON')

### Área x Município - Diferença 1990-2020

In [80]:
pam_cana_diff = pd.read_csv('../data/pam/output/cana/pam_cana_diff.csv')

In [81]:
pam_cana_diff.head()

,CODIGO_UF,UF,CODIGO_MUNICIPIO,MUNICIPIO,AREA_1990,AREA_2020
0,11,Rondônia,1100015,Alta Floresta D'Oeste,NaN,0.04
1,11,Rondônia,1100023,Ariquemes,0.27,0.17
2,11,Rondônia,1100031,Cabixi,NaN,0.15
3,11,Rondônia,1100049,Cacoal,NaN,0.14
4,11,Rondônia,1100056,Cerejeiras,NaN,0.14

In [82]:
geodata_mun.head()

,GEOCODIGO,NOME,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134..."
1,1300201,Atalaia do Norte,AM,13,Norte,SUDOESTE AMAZONENSE,ALTO SOLIMOES,-4.372,-70.192,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102..."
2,1301654,Guajará,AM,13,Norte,SUDOESTE AMAZONENSE,JURUA,-7.546,-72.584,"POLYGON ((-73.73762 -7.13432, -73.70822 -7.040..."
3,1200427,Rodrigues Alves,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.742,-72.647,"POLYGON ((-73.69158 -7.76778, -73.67485 -7.740..."
4,1200203,Cruzeiro do Sul,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.631,-72.67,"POLYGON ((-73.62958 -8.05086, -73.42396 -8.032..."

In [83]:
pam_cana_diff.rename(columns={'MUNICIPIO':'NOME', 'CODIGO_MUNICIPIO':'GEOCODIGO'}, inplace=True)
pam_cana_diff_geo_mun = geodata_mun.merge(pam_cana_diff, on='GEOCODIGO')
pam_cana_diff_geo_mun = pam_cana_diff_geo_mun.drop(['UF_y', 'NOME_y', 'CODIGO_UF'], axis=1).rename(columns={'NOME_x':'MUNICIPIO', 'UF_x':'UF'})

In [84]:
pam_cana_diff_geo_mun.head()

,GEOCODIGO,MUNICIPIO,UF,ID_UF,REGIAO,MESOREGIAO,MICROREGIA,LATITUDE,LONGITUDE,geometry,AREA_1990,AREA_2020
0,1200336,Mâncio Lima,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.614,-72.896,"POLYGON ((-73.80098 -7.11146, -73.73762 -7.134...",0.71,0.59
1,1300201,Atalaia do Norte,AM,13,Norte,SUDOESTE AMAZONENSE,ALTO SOLIMOES,-4.372,-70.192,"POLYGON ((-73.80098 -7.11146, -73.79617 -7.102...",0.95,0.39
2,1301654,Guajará,AM,13,Norte,SUDOESTE AMAZONENSE,JURUA,-7.546,-72.584,"POLYGON ((-73.73762 -7.13432, -73.70822 -7.040...",2.16,1.43
3,1200427,Rodrigues Alves,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.742,-72.647,"POLYGON ((-73.69158 -7.76778, -73.67485 -7.740...",NaN,0.43
4,1200203,Cruzeiro do Sul,AC,12,Norte,VALE DO JURUA,CRUZEIRO DO SUL,-7.631,-72.67,"POLYGON ((-73.62958 -8.05086, -73.42396 -8.032...",1.14,0.84

In [85]:
pam_cana_diff_geo_sp = pam_cana_diff_geo_mun[pam_cana_diff_geo_mun['UF'] == 'SP']
pam_cana_diff_geo_sp.to_file("../data/pam/output/cana/pam_cana_diff_geo_sp.geojson", driver='GeoJSON')